/* jQuery bug prevents accurate width measurement, so select2 choices shouldn't wrap */
.select2-result {
  white-space: nowrap;
}

/* Styling of tagged elements */
.select2-result .select2-tag-help {
  font-size: 90%;
  font-style: italic;
  color: #999;
}
.select2-result.select2-highlighted .select2-tag-help {
  color: #ccc;
}

/* Override some of the BS3 styles */
.select2-container.form-control {
  padding: 0;
  border: none;
  height: auto;
}
.select2-container.form-control .select2-choices {
  border-color: #ccc;
  border-radius: 4px;
}

.select2-container.form-control.select2-dropdown-open .select2-choices {
  border-radius: 4px 4px 0 0;
}

.select2-container.form-control.select2-dropdown-open.select2-drop-above .select2-choices {
  border-radius: 0 0 4px 4px;
}
