{% load crispy_forms_field %}

<div class="form-group" id="{{ wrapper.css_id }}">
  {% if wrapper.label_html %}
    <label class="control-label {{ label_class }}">
      {{ wrapper.label_html|safe }}
    </label>
  {% endif %}
  <div class="controls {{ field_class }}">
    <div class="form-inline coordinate-picker-form-group">
      <table>
        <tr>
          <td colspan="3" class="{% if subfields.n.errors %}has-error{% endif %}">
            <label for="{{ subfields.n.id_for_label }}"
                class="control-label {% if subfields.n.field.required %}requiredField{% endif %}">
              {{ subfields.n.label|safe }}{% if subfields.n.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            <div>
            {% crispy_field subfields.n %}
            </div>
            {% include 'coordinate_picker/field_errors.html' with field=subfields.n %}
          </td>
        </tr>
        <tr>
          <td class="{% if subfields.w.errors %}has-error{% endif %}">
            <label for="{{ subfields.w.id_for_label }}"
                class="control-label {% if subfields.w.field.required %}requiredField{% endif %}">
              {{ subfields.w.label|safe }}{% if subfields.w.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            {% crispy_field subfields.w %}
            {% include 'coordinate_picker/field_errors.html' with field=subfields.w %}
          </td>
          <td>
          </td>
          <td class="{% if subfields.e.errors %}has-error{% endif %}">
            {% crispy_field subfields.e %}
            <label for="{{ subfields.e.id_for_label }}"
                class="control-label {% if subfields.e.field.required %}requiredField{% endif %}">
              {{ subfields.e.label|safe }}{% if subfields.e.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            {% include 'coordinate_picker/field_errors.html' with field=subfields.e %}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="{% if subfields.s.errors %}has-error{% endif %}">
            <div>
            {% crispy_field subfields.s %}
            </div>
            <label for="{{ subfields.s.id_for_label }}"
                class="control-label {% if subfields.s.field.required %}requiredField{% endif %}">
              {{ subfields.s.label|safe }}{% if subfields.s.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
            {% include 'coordinate_picker/field_errors.html' with field=subfields.s %}
          </td>
        </tr>
      </table>
      {% with field=subfields.center_lat %}
      <div class="row">
        <div class="col-xs-6 text-right">
          {% include 'coordinate_picker/field_label.html' %}
        </div>
        <div class="col-xs-6">
          <div>
              {% crispy_field field %}
              {% include 'coordinate_picker/field_errors.html' %}
          </div>
        </div>
      </div>
      {% endwith %}
      {% with field=subfields.center_lon %}
      <div class="row">
        <div class="col-xs-6 text-right">
          {% include 'coordinate_picker/field_label.html' %}
        </div>
        <div class="col-xs-6">
          <div>
              {% crispy_field field %}
              {% include 'coordinate_picker/field_errors.html' %}
          </div>
        </div>
      </div>
      {% endwith %}
      {% if subfields.min_radius %}
      {% with field=subfields.min_radius %}
      <div class="row">
        <div class="col-xs-6 text-right">
          {% include 'coordinate_picker/field_label.html' %}
        </div>
        <div class="col-xs-6">
          <div>
              {% crispy_field field %}
              {% include 'coordinate_picker/field_errors.html' %}
          </div>
        </div>
      </div>
      {% endwith %}
      {% endif %}
      {% with field=subfields.max_radius %}
      <div class="row">
        <div class="col-xs-6 text-right">
          {% include 'coordinate_picker/field_label.html' %}
        </div>
        <div class="col-xs-6">
          <div>
              {% crispy_field field %}
              {% include 'coordinate_picker/field_errors.html' %}
          </div>
        </div>
      </div>
      {% endwith %}

      <div class="text-center">      
        <button type="button" class="btn btn-default" id="{{ wrapper.css_id }}-map-btn">
          Use Map
        </button>
      </div>
    </div>
    {% if wrapper.help_text %}
    <div class="help-block">{{ wrapper.help_text|safe }}</div>
    {% endif %}
  </div>
</div>
<script lang="javascript">
$(function() {
  $("#{{ wrapper.css_id }}").coordinate_picker({
    openBtn: $("#{{ wrapper.css_id }}-map-btn"),
    nsewInputs: [$('#{{ subfields.n.id_for_label }}'),
                 $('#{{ subfields.s.id_for_label }}'),
                 $('#{{ subfields.e.id_for_label }}'),
                 $('#{{ subfields.w.id_for_label }}')],
    crInputs: [$('#{{ subfields.center_lat.id_for_label }}'),
                $('#{{ subfields.center_lon.id_for_label }}'),
                $('#{{ subfields.max_radius.id_for_label }}'),
                $('#{{ subfields.min_radius.id_for_label }}')],
  });
});
</script>
